 /* #Icon
   -------------------------------------------------------------------------- */
/*doc
---
title: icon
name: icon
categories: [project]
---

アイコンフォントを使ったアイコンを表示します。デフォルトでは`:before`擬似要素で表示されます。

```block
<div class="p-icon p-icon--angle-right"></div>
<div class="p-icon p-icon--angle-left"></div>
```
*/
// 任意のクラスの擬似要素で表示する場合は@mixinを使って、
// ベーススタイルとアイコンの名前を取得します。
// @example scss
// .p-list__link {
//   &:after {
//     @include icon;
//     @include icon-name(chevron-right);
//   }
// }
@font-face {
  font-family: "<%= fontName %>";
  src: url('<%= fontPath %><%= fontName %>.eot');
  src: url('<%= fontPath %><%= fontName %>.eot?#iefix') format('eot'),
    url('<%= fontPath %><%= fontName %>.woff') format('woff'),
    url('<%= fontPath %><%= fontName %>.ttf') format('truetype'),
    url('<%= fontPath %><%= fontName %>.svg#<%= fontName %>') format('svg');
  font-weight: normal;
  font-style: normal;
}

// アイコンフォントのベーススタイル
@mixin icon {
  font-family: "<%= fontName %>";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  top: -0.1em;
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: none;
  text-transform: none;
  speak: none;
}

/* `p-icon p-icon--icon-name`のようなマルチクラスで指定します。 */
.p-icon {
  @include icon;
}

@function icon-char($filename) {
  $char: "";
<% _.each(glyphs, function(glyph) { %>
  @if $filename == <%= glyph.fileName %> { $char: "\<%= glyph.codePoint %>"; }<% }); %>

  @return $char;
}

@mixin icon-name($filename) {
  & { content: icon-char($filename); }
}

<% _.each(glyphs, function(glyph) { %>.p-icon--<%= glyph.fileName %>:before { @include icon-name(<%= glyph.fileName %>); }
<% }); %>
