<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title><%= title %> <% if title != '' %> | <% end %> <%= @config['global_title'] %></title>

    <!-- Styleguide CSS -->
    <link rel="stylesheet" href="css/syntax-heighlight.css">
    <link rel="stylesheet" href="css/styleguide.css">

    <!-- Source CSS -->
    <% if @config['css_include'].to_s.strip.length != 0 %>
      <% @config['css_include'].each do |css| %>
        <link rel="stylesheet" href="<%= css %>">
      <% end %>
    <% end %>
</head>

  <body class="hgt-body">
    <div class="hgt-pagehead">
      <div class="hgt-container">
        <nav class="hgt-pagehead-nav" role="navigation">
          <a href="index.html"
             class="hgt-pagehead-nav-item <% if file_name.include?('index.html') %>is-current<% end %>">
            Home
          </a>

          <% @categories.each do |cat| %>
          <a href="<%= cat[1] %>"
             class="hgt-pagehead-nav-item <% if title == cat[0] %>is-current<% end %>">
            <%= cat[0] %>
          </a>
          <% end %>
        </nav>
      </div>
    </div>

    <div class="hgt-styleguide hgt-container">
    <h1 class="hgt-pagehead-title"><%= @config['global_title'] %></h1>
    <% unless @blocks.length == 0 %>
    <ul class="hgt-menu">
    <% @blocks.each do |block| %>
    <% if not block[:parent] %>
      <li><a href="#<%= block[:name] %>" class="hgt-menu-item"><%= block[:title] %></a></li>
      <% end %>
      <% end %>
    </ul>
    <% end %>

        <div class="hgt-column">
          <div class="hgt-content">
