 /* #Button
   -------------------------------------------------------------------------- */
/*doc
---
title: button
name: button
categories: [component]
---

ベーシックなボタンオブジェクトです。

Modifierは以下のとおりです。

* 100%表示 `--full`
* 真円 `--circle`
* 楕円 `--pill`, `--pill-right`, `--pill-center`, `--pill-left`

```block
<p><button class="c-button c-button-example">button &lt;button&gt;</button></p>
<p><a class="c-button c-button--full c-button-example">button full &lt;a&gt;</a></p>

<p><input type="button" class="c-button c-button--pill c-button-example" value="button pill &lt;input&gt;"></button></p>
<p>
  <button class="c-button c-button--pill-left c-button-example">button pill left</button>
  <button class="c-button c-button--pill-center c-button-example">button pill center</button>
  <button class="c-button c-button--pill-right c-button-example">button pill right</button>
</p>
```
*/
$_button-pill-base: 0 !default;
$_button-pill-round: 3em !default;

.c-button {
  display: inline-block;
  margin: 0;
  padding: 0.75em;
  border: none;
  border-radius: $_radius;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  appearance: none;
  @include _on-event {
    text-decoration: none;
  }
  &.is-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.c-button--full {
  width: 100%;
}

.c-button--circle {
  border-radius: 50%;
}

/**
 * カプセル状の錠剤のような形をしたボタンコンポーネントです。
 */
.c-button--pill {
  border-radius: $_button-pill-round;
}

.c-button--pill-right {
  border-radius: $_button-pill-base $_button-pill-round $_button-pill-round $_button-pill-base;
}

.c-button--pill-center {
  border-radius: $_button-pill-base;
}

.c-button--pill-left {
  border-radius: $_button-pill-round $_button-pill-base $_button-pill-base $_button-pill-round;
}

.c-button-example {
  color: #fff;
  background-color: $_color-link;
  border: 1px solid darken($_color-link, 0.6);
  @include _on-event {
    color: $_color-link;
    background-color: #fff;
    border: 1px solid darken($_color-link, 0.6);
  }
}
