 /* #Button
   -------------------------------------------------------------------------- */
/**
 * 装飾のないボタンオブジェクトです。
 */
%c-button {
  display: inline-block;
  margin: 0;
  padding: 0.75em;
  border: none;
  border-radius: $radius;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  appearance: none;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
  &.is-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}