 /* #Embed
   -------------------------------------------------------------------------- */
/*doc
---
title: embed
name: embed
categories: [component]
---

YouTubeなどのエンベディットコンテンツのアクペクト比を指定するオブジェクトです。

Modifierは以下のとおりです。

* アスペクト比16:9 `--16to9`
* アスペクト比4:3 `--4to3`

```block
<div class="c-embed c-embed--16to9">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/1OKZOV-iLj4" frameborder="0" allowfullscreen></iframe>
</div>
```
*/
.c-embed {
  display: block;
  overflow: hidden;
  position: relative;
  height: 0;
  margin: 0;
  padding: 0;
  .c-embed__item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    border: 0;
  }
}

/**
 * アスペクト比 16:9
 */
.c-embed--16to9 {
  padding-bottom: percentage(9 / 16) !important;
}

/**
 * アスペクト比 4:3
 */
.c-embed--4to3 {
  padding-bottom: percentage(3 / 4) !important;
}
