 /* #Icon
   -------------------------------------------------------------------------- */
/*doc
---
title: icon
name: icon
categories: [component]
---

CSSだけで作ったアイコンです。キャレットとハンバーガーボタンはstateクラスでアニメーションします。

```block
<p class="c-icon-caret"></p>
<p class="c-icon-caret is-active"></p>
<p class="c-icon-burger"><span>ナビゲーション</span></p>
<p class="c-icon-burger is-active"><span>ナビゲーション</span></p>
<p class="c-icon-close"><span>閉じる</span></p>
```
*/
.c-icon-caret {
  @include caret();
  > span {
    @include sr-only();
  }
}

.c-icon-burger {
  @include burger();
  > span {
    @include sr-only();
  }
}

.c-icon-close {
  @include close();
  > span {
    @include sr-only();
  }
}
