 /* #List-mark
   -------------------------------------------------------------------------- */
/*doc
---
title: list-mark
name: list-mark
categories: [component]
---

リストアイテムの左にアイコンを配置します。`.p-icon`で任意のアイコンを表示させます。
複数行になった場合はテキストの位置で左揃えになります。

アイコンのサイズは以下のmodifierで変更できます。

- `.c-list-mark__icon--small`
- `.c-list-mark__icon--large`

```block
<ul class="c-list-mark">
  <li class="c-list-mark__item"><span class="c-list-mark__icon p-icon p-icon--home" aria-hidden="true"></span>リスト1
  <ul class="c-list-mark__items">
    <li class="c-list-mark__item"><span class="c-list-mark__icon c-list-mark__icon--small p-icon p-icon--home" aria-hidden="true"></span>リスト1.1
    </li>
    <li class="c-list-mark__item"><span class="c-list-mark__icon"></span>リスト1.2</li>
  </ul>
</ul>
```
*/
/* ul */
.c-list-mark {
  @include _c-list-mark();
}

/* ul > li */
.c-list-mark__item {
  @include _c-list-mark__item();
}

/* li > span */
.c-list-mark__icon {
  @include _c-list-mark__icon();
}

/* li > ul */
.c-list-mark__items {
  @include _c-list-mark__items();
}

.c-list-mark__icon--small {
  $size: 0.8em;
  width: $size;
  &:before {
    font-size: $size;
  }
}

.c-list-mark__icon--large {
  $size: 1.2em;
  width: $size;
  &:before {
    font-size: $size;
  }
}
