 /* #List-mark
   -------------------------------------------------------------------------- */
/*doc
---
title: list-mark
name: list-mark
categories: [component]
---

リストアイテムの左にアイコンを配置します。`.p-icon`で任意のアイコンを表示させます。

```block
<ul class="c-list-mark">
  <li class="c-list-mark__item"><span class="c-list-mark__icon p-icon p-icon--home" aria-hidden="true"></span>リスト1
  <ul class="c-list-mark__items">
    <li class="c-list-mark__item"><span class="c-list-mark__icon p-icon p-icon--home" aria-hidden="true"></span>リスト1.1
    </li>
    <li class="c-list-mark__item"><span class="c-list-mark__icon"></span>リスト1.2</li>
  </ul>
</ul>
```
*/
/* ul */
.c-list-mark {
  @include _c-list-mark();
}

/* ul > li */
.c-list-mark__item {
  @include _c-list-mark__item();
}

/* li > span */
.c-list-mark__icon {
  @include _c-list-mark__icon();
}

/* li > ul */
.c-list-mark__items {
  @include _c-list-mark__items();
}
