 /* #List-unstyled
   -------------------------------------------------------------------------- */
/*doc
---
title: list-unstyled
name: list-unstyled
categories: [component]
---

`<ul>`と`<ol>`でデフォルトスタイルをリセットします。

```block
<ul class="c-list-unstyled">
  <li>リスト1
  <ul>
    <li>リスト1.1
    <ul>
      <li>リスト1.1.1</li>
      <li>リスト1.1.2</li>
    </ul>
    </li>
    <li>リスト1.2</li>
  </ul>
  </li>
  <li>リスト2</li>
  <li>リスト3</li>
</ul>
```
*/
.c-list-unstyled {
  @include _c-list-unstyled();
}

.c-list-unstyled ul {
  list-style-position: inside;
}
