 /* #List-unstyled
   -------------------------------------------------------------------------- */
/*doc
---
title: list-unstyled
name: list-unstyled
categories: [component]
---

`<ul>`と`<ol>`でデフォルトスタイルをリセットします。

```block
<ul class="c-list-unstyled">
  <li>リスト1</li>
  <li>リスト2</li>
  <li>リスト3</li>
</ul>
```
*/
.c-list-unstyled {
  @include _c-list-unstyled();
}
