 /* #List-ordered
   -------------------------------------------------------------------------- */
/*doc
---
title: list-ordered
name: list-ordered
categories: [component]
---

番号付きリストを入れ子レベルに応じて、1, 1.1のように区切り文字を付け加えます。

```block
<ol class="c-list-ordered">
  <li class="c-list-ordered__item">リスト1
  <ol class="c-list-ordered__items">
    <li class="c-list-ordered__item">リスト1.1
    <ol class="c-list-ordered__items">
      <li class="c-list-ordered__item">リスト1.1.1</li>
      <li class="c-list-ordered__item">リスト1.1.2</li>
    </ol>
    </li class="c-list-ordered__item">
    <li class="c-list-ordered__item">リスト1.2</li>
  </ol>
  </li class="c-list-ordered__item">
  <li class="c-list-ordered__item">リスト2</li>
</ol>
```
*/
/* ul */
.c-list-ordered {
  @include _c-list-unstyled();
  counter-reset: ordered;
}

/* li */
.c-list-ordered__item:before {
  counter-increment: ordered;
  content: counters(ordered, ".") " ";
  padding-right: 0.5em;
}

/* li > ul */
.c-list-ordered__items {
  padding-left: 1em;
  list-style-type: none;
  counter-reset: ordered;
}
