 /* #Media
   -------------------------------------------------------------------------- */
/*doc
---
title: media
name: media
categories: [component]
---

画像とテキストを横並びにするオブジェクトです。

`c-flag`オブジェクトと違うのは、縦方向の指定ができないこと、（デフォルトで）テキストが画像に回り込みすることです。

Modifierは以下のとおりです。

* 余白の変更 `--small`, `--large`
* 配置を反転 `--reverse`

HTMLは画像・テキストの順番で記述して、Modifierでレイアウトを変更します。

```block
<div class="c-media" style="margin-bottom:1rem;">
  <div class="c-media__image">
    <img src="https://placehold.jp/150x150.png">
  </div>
  <div class="c-media__body">
    画像・テキストの順番でマークアップします。
  </div>
</div>

<div class="c-media c-media--reverse">
  <div class="c-media__image">
    <img src="https://placehold.jp/150x150.png">
  </div>
  <div class="c-media__body">
    画像・テキストの順番でマークアップします。<code>.c-media--reverse</code>を指定すると画像が右側になります。
  </div>
</div>
```
*/
$_media-gutter: $_white-space !default;
$_media-gutter-small: ($_media-gutter / 2) !default;
$_media-gutter-large: ($_media-gutter * 2) !default;

.c-media {
  @include _c-media();
}

.c-media__image {
  @include _c-media__image($_media-gutter);
}

.c-media__body {
  @include _c-media__body();
}

/**
 * 要素間の余白を変更します。
 */
.c-media--small {
  > .c-media__image {
    margin-right: $_media-gutter-small;
  }
}

.c-media--large {
  > .c-media__image {
    margin-right: $_media-gutter-large;
  }
}

/**
 * 横並びになった要素を右から左の順番でレイアウトします。
 */
@include _responsive('.c-media--reverse') {
  > .c-media__image {
    float: right;
    margin-right: 0;
    margin-left: $_media-gutter;
  }
  &.c-media--small > .c-media__image {
    margin-left: $_media-gutter-small;
  }
  &.c-media--large > .c-media__image {
    margin-left: $_media-gutter-large;
  }
}
