 /* #Media
   -------------------------------------------------------------------------- */
/**
 * 画像とテキストを横並びにするオブジェクトです。
 * 余白サイズ、垂直方向、要素の配置順の反転の指定ができます。
 * 任意の横幅以下でブロック（縦に積み重なる）レスポンシブ対応にすることができます。
 *
 * <div class="c-media [c-media--small c-media--middle c-media--rev c-media--stack-md-down]">
 *   <figure class="c-media__item">
 *     <img>
 *   </figure>
 *   <div class="c-media__item">
 *     <p></p>
 *   </div>
 * </div>
 */
$media-gutter: $spacing-inner !default;
$media-gutter-small: ($media-gutter / 2) !default;
$media-gutter-large: ($media-gutter * 2) !default;

.c-media {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
}

.c-media__item {
  display: table-cell;
  margin: 0;
  padding: 0;
  vertical-align: top;
  &:not(:first-child) {
    padding-left: $media-gutter;
  }
  & > :first-child {
    margin-top: 0;
  }
  & > :last-child {
    margin-bottom: 0;
  }
}

.c-media__item > img {
  display: block;
  max-width: none;
}

/**
 * 垂直位置を2つのパリエーションから選択します（デフォルトは`top`）。
 */
.c-media--middle {
  > .c-media__item {
    vertical-align: middle;
  }
}

.c-media--bottom {
  > .c-media__item {
    vertical-align: bottom;
  }
}


/**
 * 要素を右から配置させます（HTMLの記述を反転させた状態でレイアウトされます）。
 */
@include responsive('.c-media--rev') {
  text-align: left;
  direction: rtl;
  > .c-media__item {
    text-align: left;
    direction: ltr;
  }
  > .c-media__item:not(:first-child) {
    padding-right: $media-gutter;
    padding-left: 0;
  }
}

/**
 * 要素間の余白を変更します。
 */
.c-media--small {
  > .c-media__item:not(:first-child) {
    padding-left: $media-gutter-small;
  }
  &.c-media--rev > .c-media__item:not(:first-child) {
    padding-right: $media-gutter-small;
    padding-left: 0;
  }
}

.c-media--large {
  > .c-media__item:not(:first-child) {
    padding-left: $media-gutter-large;
  }
  &.c-media--rev > .c-media__item:not(:first-child) {
    padding-right: $media-gutter-large;
    padding-left: 0;
  }
}

/**
 * あるウィンドウサイズ以下になると、縦にレイアウトされます。
 */
@include responsive('.c-media--stack', $breakpoints-down) {
  > .c-media__item {
    display: block;
  }
  > .c-media__item:not(:first-child) {
    padding: $media-gutter 0 0;
  }
  > .c-media__item > img {
    margin: auto;
  }
  &.c-media--small > .c-media__item:not(:first-child) {
    padding: $media-gutter-small 0 0;
  }
  &.c-media--large > .c-media__item:not(:first-child) {
    padding: $media-gutter-large 0 0;
  }
}
