 /* #Wrapper
   -------------------------------------------------------------------------- */
/*doc
---
title: wrapper
name: wrapper
categories: [component]
---

横幅を制限するオブジェクトです。

Modifierは以下のとおりです。

* 左右の余白を追加 `--small`, `--medium`, `--large`

```block
<div class="c-wrapper" style="background-color:#eee;margin-bottom:1rem;">c-wrapper</div>
<div class="c-wrapper c-wrapper--medium" style="background-color:#eee;margin-bottom:1rem;">c-wrapper c-wrapper--medium</div>
<div class="c-wrapper u-8of12" style="background-color:#eee;">c-wrapper u-8of12</div>
```
*/
$_wrapper-padding: $_white-space !default;
$_wrapper-padding-small: ($_wrapper-padding / 2) !default;
$_wrapper-padding-large: ($_wrapper-padding * 2) !default;

.c-wrapper {
  width: 100%;
  max-width: $_max-width;
  margin-right: auto;
  margin-left: auto;
}

.c-wrapper--small {
  padding-right: $_wrapper-padding-small;
  padding-left: $_wrapper-padding-small;
}

.c-wrapper--medium {
  padding-right: $_wrapper-padding;
  padding-left: $_wrapper-padding;
}

.c-wrapper--large {
  padding-right: $_wrapper-padding-large;
  padding-left: $_wrapper-padding-large;
}
