/**
 * スタイルガイドページの横幅。
 * 実際のページのmax-widthとあわせてください。
 */
.hgt-container {
  max-width: 960px;
  margin: 0 auto;
}

/**
 * コードブロックのコンテナです。
 */
.sg-codeExpContanier {
  margin: 0 0 1.7rem;
}

/**
 * コードブロック内でHTMLが出力されるエリアのラッパーです。
 */
.sg-codeOutput {
  margin: 0 0 0.5em;
}

/**
 * コードブロック内でHTMLが出力されるエリアのインナーです。
 */
.sg-codeOutput__blockPlacer {
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 3px;
}


.hgt-body {
  padding-top: 88px;
}

/**
 * fixedヘッダー
 */
.hgt-pagehead {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 12px 0;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.hgt-pagehead-nav-item  {
  padding: 16px 0;
  color: #333;
  text-decoration: none;
}

.hgt-pagehead-nav-item:hover,
.hgt-pagehead-nav-item:focus,
.hgt-pagehead-nav-item:active  {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

.hgt-pagehead-nav-item:not(:first-of-type) {
  margin-left: 1em;
}

.hgt-pagehead-nav-item.is-current {
  border-bottom: 2px solid #ff4500;
}

/**
 * メインタイトル
 */
.hgt-pagehead-title {
  margin: 0 0 1.7rem;
  font-size: 2rem;
}

/**
 * 各コンポーネントの見出し
 */
h1.styleguide {
  margin: 0 0 1.7rem;
  font-size: 1.6rem;
}

h1.styleguide:not(:first-child) {
  margin-top: 3.7rem;
}

/**
 * コードブロック内でシンタックスハイライトが出力されるエリアのラッパーです。
 */
.sg-codeBlock {
  padding: 1em;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 0.8rem;
}

.sg-codeBlock .highlight pre {
  font-family: Consolas, Menlo, Courier, monospace;
}

/**
 * コードブロック内でシンタックスハイライトが出力されるエリアのインナーです。
 */
.highlight pre {
  margin-bottom: 0;
  font-size: 0.9rem;
}

/**
 * ページ内リンク
 */
.hgt-menu {
  margin: 0 0 1.7rem;
  padding-left: 1.5rem;
}


.hgt-footer {
  margin-top: 20px;
  padding: 20px 0;
  text-align: center;
}
