 /* #Sidebar
   -------------------------------------------------------------------------- */
/*doc
---
title: sidebar
name: sidebar
categories: [layout]
---

`<aside>`タグが使われるようなサイドバーのスタイルです。
ナビゲーションやバナーなどのレイアウトを含むことはできますが、
コンポーネント自体はobject/projectレイヤーで定義します。

```block
<body>
  <article class="l-content"></article>
  <aside class="l-sidebar">
    <div class="l-sidebar__item">
       <ul class="p-side-nav"></ul>
    </div>
    <div class="l-sidebar__item">
       <div class="p-banner"></div>
    </div>
  </aside>
</body>
```
*/
.l-sidebar {

}
