<%
var absolutePath = filename.split(site.developDir)[filename.split(site.developDir).length -1].replace('.ejs','.html');
var relativePath = '../'.repeat([absolutePath.split('/').length -1]);
var page = {
  title: "テスト用ページ",
  description: "コンポーネントのテストコーディングなどに使用してください。公開時には削除してください。",
  keywords: "",
  bodyClass: "",
  singleCss: [],
  singleJs: [],
  ogpType: "article",
  ogpImage: site.ogpImage,
  absolutePath: absolutePath,
  relativePath: relativePath
};
-%>
<%- include(page.relativePath + '_partials/_head', {page: page, modifier: ''}); %>
<%- include(page.relativePath + '_partials/_header', {page: page, modifier: ''}); %>


    <div class="c-wrapper">
      <div class="c-layout">
        <div class="c-layout__item u-8of12-md"></div>
        <div class="c-layout__item u-4of12-md"></div>
      </div>
    </div>

<%- include(page.relativePath + '_partials/_footer', {page: page, modifier: ''}); %>
