 /* #Divider
   -------------------------------------------------------------------------- */
/*doc
---
name: Divider
category: SiteWide
tag: Text
---

アイコンフォントを使ったアイコンを表示します。デフォルトでは`:before`擬似要素で表示されます。

```ejs
<p>テキストです。</p>
<hr class="sw-Divider">
<p>テキストです。</p>
```
*/
.sw-Divider {
  box-sizing: inherit;
  display: block;
  width: 100%;
  height: auto;
  margin: 1.2em auto;
  border: 0;
  border-top: 1px solid #e5e5e5;
}
