 /* #Width
   -------------------------------------------------------------------------- */
/*doc
---
title: width
name: width
categories: [utility]
---

レスポンシブに対応した`width`プロパティを指定する汎用クラスです。

@see - [trumps.width.scss](https://github.com/csswizardry/frcss/blob/master/_trumps.widths.scss)

```block
<div class="c-wrapper">
  <div class="c-layout c-layout--medium" style="margin-bottom:1rem;">
    <div class="c-layout__item u-8of12-md"><div style="background-color:lightblue;">c-layout__item u-8of12-md</div></div>
    <div class="c-layout__item u-4of12-md"><div style="background-color:lightblue;">c-layout__item u-4of12-md</div></div>
  </div>

  <div class="c-layout c-layout--rev c-layout--medium" style="margin-bottom:1rem;">
    <div class="c-layout__item u-8of12-md"><div style="background-color:lightblue;">c-layout--rev c-layout__item u-8of12-md</div></div>
    <div class="c-layout__item u-4of12-md"><div style="background-color:lightblue;">c-layout--rev c-layout__item u-4of12-md</div></div>
  </div>

  <div class="c-layout c-layout--center c-layout--medium">
    <div class="c-layout__item u-8of12-md"><div style="background-color:lightblue;">c-layout--center c-layout__item u-8of12-md</div></div>
  </div>
</div>
```
*/
// @example css - CSS output
//
// .u-11of12 { width: 91.66667% !important; }
// .u-12of12 { width: 100% !important; }
// @media screen and (min-width: 400px) {
//     .u-1of12-sm { width: 8.33333% !important; }
//     .u-2of12-sm { width: 16.66667% !important; }

// 取得したいカラム数をリスト形式で指定します。
// 例えば`1 2`を指定すると1/1, 1/2, 2/2の`width`を取得できます。
$_width-cols: 12 !default;

// @param $cols - `$width-cols`から取得したいカラム数を取得します。
// @param $breakpoint(null) - メディアクエリ用のキーワードを渡します。
// @requires $width-cols - 取得したいカラム数をリスト形式で指定します。
@mixin _width($cols, $breakpoint: null) {
  @each $col in $cols {
    @for $i from 1 through $col {
      .u-#{$i}of#{$col}#{$breakpoint} {
        width: percentage($i / $col) !important;
      }
    }
  }
}

// ブレイクポイントのないclassを生成します。
// @requires - $width-cols
@include _width($_width-cols);

// ブレイクポイント付きのclassを生成します。
// @requires - $breakpoints
@each $name, $breakpoint in $_breakpoint-up {
  @media #{$breakpoint} {
    @include _width($_width-cols, -#{$name})
  }
}

@include _responsive('.u-wf') {
  width: 100% !important;
}

@include _responsive('.u-wa') {
  width: auto !important;
}
