 /* #Button
   -------------------------------------------------------------------------- */
/*doc
---
title: button
name: button
categories: [project]
---

ボタンコンポーネントです。

Modifierは以下のとおりです。

* 100%表示 `--full`
* 真円 `--circle`
* 楕円 `--pill`, `--pill-right`, `--pill-center`, `--pill-left`

```block
<p><button class="p-button">p-button</button></p>
<p><a class="p-button p-button--full">p-button p-button--full</a></p>

<p>
  <button class="p-button p-button--pill-left">p-button p-button--pill-left</button>
  <button class="p-button p-button--pill-center">p-button p-button--pill-center</button>
  <button class="p-button p-button--pill-right">p-button p-button--pill-right</button>
</p>
```
*/
$_button-pill-base: 0 !default;
$_button-pill-round: 3em !default;

.p-button {
  display: inline-block;
  margin: 0;
  padding: 0.75em;
  border: none;
  border-radius: $_radius;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  appearance: none;
  @include _on-event {
    text-decoration: none;
  }
  &:disabled,
  &.is-disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.p-button--full {
  width: 100%;
}

.p-button--circle {
  border-radius: 50%;
}

/**
 * カプセル状の錠剤のような形をしたボタンコンポーネントです。
 */
.p-button--pill {
  border-radius: $_button-pill-round;
}

.p-button--pill-right {
  border-radius: $_button-pill-base $_button-pill-round $_button-pill-round $_button-pill-base;
}

.p-button--pill-center {
  border-radius: $_button-pill-base;
}

.p-button--pill-left {
  border-radius: $_button-pill-round $_button-pill-base $_button-pill-base $_button-pill-round;
}
