 /* #Card
   -------------------------------------------------------------------------- */
/*doc
---
title: card
name: card
categories: [project]
---

カードタイプのコンポーネントです。

```block
<div class="c-layout c-layout--small">
  <div class="c-layout__item u-6of12-md">
    <div class="p-card">
      <img src="http://lorempixel.com/640/340/" class="p-card__image-top">
      <div class="p-card__body">
        <h2>Card Object</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat illo autem, possimus obcaecati numquam sunt ut quas, repellat cum aspernatur voluptatem, a explicabo! Facilis sed quos, nisi rerum placeat ad?</p>
      </div>
      <ul class="p-card__list">
        <li class="p-card__list-item">list1</li>
        <li class="p-card__list-item">list2</li>
      </ul>
      <div class="p-card__foot">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, est.</p>
      </div>
    </div>
  </div>

  <div class="c-layout__item u-6of12-md">
    <div class="p-card">
      <div class="p-card__head">
        <h2>Card Object</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat illo autem, possimus obcaecati numquam sunt ut quas, repellat cum aspernatur voluptatem, a explicabo! Facilis sed quos, nisi rerum placeat ad?</p>
      </div>
      <ul class="p-card__list">
        <li class="p-card__list-item">list1</li>
        <li class="p-card__list-item">list2</li>
      </ul>
      <img src="http://lorempixel.com/640/340/" class="p-card__image-bottom">
    </div>
  </div>
</div>
```
*/

$_card-gap: $_white-space--small !default;
$_card-padding-y: $_white-space !default;
$_card-padding-x: $_white-space !default;
$_card-border: 1px solid $_color-ui-border !default;
$_card-radius: $_radius !default;

.p-card {
  margin: 0 0 $_card-gap;
  padding: 0;
  border: $_card-border;
  border-radius: $_card-radius;
  list-style-type: none;
}

.p-card__head {
  padding: $_card-padding-x;
  > :last-child {
    margin-bottom: 0;
  }
}

.p-card__body {
  padding: $_card-padding-y $_card-padding-x;
  > :last-child {
    margin-bottom: 0;
  }
}

.p-card__foot {
  padding: $_card-padding-x;
  border-top: $_card-border;
  > :last-child {
    margin-bottom: 0;
  }
}

.p-card__image,
.p-card__image-top,
.p-card__image-bottom {
  max-width: none;
  width: 100%;
}

.p-card__head,
.p-card__image-top {
  @if $_card-radius != null {
    border-radius: ($_card-radius - 1) ($_card-radius - 1) 0 0;
  }
}

.p-card__foot,
.p-card__image-bottom {
  @if $_card-radius != null {
    border-radius: 0 0 ($_card-radius - 1) ($_card-radius - 1);
  }
}

.p-card__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.p-card__list-item {
  padding: $_card-padding-x;
  border-top: $_card-border;
}

.p-card__list-link {
  display: block;
  margin: -$_card-padding-x;
  padding: $_card-padding-x;
}
