 /* #Label
   -------------------------------------------------------------------------- */
/*doc
---
title: label
name: label
categories: [project]
---

インラインでメッセージを表示するコンポーネントです。

```block
<p><span class="p-label">タグ名</span></p>
```
*/
.p-label {
  display: inline-block;
  padding: $spacing-inner--small;
  border-radius: $radius;
  color: $color-ui-bg;
  font-size: 0.8rem;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  background-color: $color-link;
}
