 /* #Split
   -------------------------------------------------------------------------- */
/*doc
---
title: split
name: split
categories: [project]
---

定義リストをブロックからインラインにするコンポーネントです。
デフォルトで`.p-split__name`が10文字を越えるとレイアウトが崩れます。

Modifierは以下のとおりです。

* ブロックから横並び`--inline`

```block
<dl class="p-split p-split--inline-md">
  <dt class="p-split__name">p-split__name1</dt>
  <dd class="p-split__value">p-split__value1</dd>
  <dt class="p-split__name">p-split__name2</dt>
  <dd class="p-split__value">p-split__value2</dd>
</dl>
```
*/
$_split-padding: $_white-space--small / 2 !default;
$_split-name-size: 10em !default;
.p-split {
  margin: 0;
  padding: 0;
}

.p-split__name {
  padding-top: $_split-padding;
}

.p-split__value {
  margin-left: 0;
  padding-bottom: $_split-padding;
}

$_split-namespace: '.p-split';
$_split-modifier-namespace: '.p-split--inline';
$_split-bp: $_breakpoint-up;
@each $suffix, $value in $_split-bp {
  @media #{$value} {
    #{$_split-modifier-namespace}-#{$suffix} > #{$_split-namespace}__name {
      float: left;
      clear: both;
    }
    #{$_split-modifier-namespace}-#{$suffix} > #{$_split-namespace}__value {
      padding: $_split-padding 0 $_split-padding $_split-name-size;
    }
  }
}
