/* -----------------------------------------------------------------------------
   #Base
   -------------------------------------------------------------------------- */
/**
 * Baseはクラス以外のHTML要素、見出しやリンクやリストなど、タイプセレクタを指定する最後のレイヤーです。
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.4;
  color: inherit;
}

// h1,
// .u-h1 {
//   font-size: 2rem;
// }

// h2,
// .u-h2 {
//   font-size: 1.6rem;
// }

// h3,
// .u-h3 {
//   font-size: 1.4rem;
// }

// h4,
// .u-h4 {
//   font-size: 1.2rem;
// }

// h5,
// .u-h5 {
//   font-size: 1rem;
// }

// h6,
// .u-h6 {
//   font-size: 1rem;
// }

/**
 * ネストされたリストのマージンをリセットします。
 */
 li {
  > ul, > ol {
    margin-bottom: 0;
  }
}

/**
 * `dd`と`dl`の左端を揃えます。
 */
 dd {
  margin-left: 0;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

a {
  text-decoration: underline;
  color: $color-link;
  &:visited {
    color: $color-link--visited;
  }
  &:hover,
  &:focus {
    text-decoration: underline;
    color: $color-link--hover;
  }
}

/**
 * フルードイメージにします。
 */
 img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/**
 * 日本語では斜体を使用しないためリセットします。
 */
 i,
 cite,
 em,
 address,
 dfn {
  font-style: normal;
}

/**
 * normalize.cssの`em`から`rem`に変更します。
 */
 code,
 kbd,
 pre,
 samp {
  font-size: 1rem;
}

code,
pre {
  font-family: Menlo, Consolas, Courier, monospace;
}

// h1, h2, h3, h4, h5, h6,
// ul, ol, dl,
// blockquote, p, address,
// hr,
// table,
// fieldset, figure,
// pre {
//   margin-bottom: $spacing-outer;
// }