/* -----------------------------------------------------------------------------
   #Generic
   -------------------------------------------------------------------------- */
/**
 * Genericは基礎になるスタイルです。広範囲で低詳細度、リセットやNormalize.cssなどが該当します。
 */

/**
 * `padding`と`border`を`width`に含めます。
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
 html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/**
 * ブロック要素をすべてリセットします
 */
 body,
 h1, h2, h3, h4, h5, h6,
 p, blockquote, pre,
 dl, dd, ol, ul,
 form, fieldset, legend,
 figure,
 table, th, td, caption,
 hr {
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
  line-height: strip-unit($spacing-outer);
  @include mq(lg) {
    font-size: 16px;
  }
}

body {
  color: $color-text;
  font-family: "Helvetica Neue", Helvetica, "游ゴシック", YuGothic, "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-weight: 400;
  background-color: $color-bg;
  /* アンチエイリアスを指定する */
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  /* メトリクスカーニングを指定する */
  font-kerning: normal;
  /* 欧文合字（Standard Ligatures）を指定する */
  font-feature-settings: “liga” 1;
}