<% if (typeof modifier === undefined) { var modifier = ''; } -%>
    <header class="header<%= modifier %>">
      <h1><a href="/"><%= site.name %></a></h1>

      <nav>
        <ul class="p-global-nav">
          <li class="p-global-nav__item"><a href="/" class="p-global-nav__link">home</a></li>
          <li class="p-global-nav__item"><a href="/page1" class="p-global-nav__link">page1</a></li>
          <li class="p-global-nav__item"><a href="/page2" class="p-global-nav__link">page2</a></li>
          <li class="p-global-nav__item"><a href="/page3" class="p-global-nav__link">page3</a></li>
        </ul>
      </nav>
    </header>
