/* -----------------------------------------------------------------------------
   #Margin
   -------------------------------------------------------------------------- */
/**
 * m - margin
 * a - all
 * t, r, b, l - top, right, bottom, left
 * x, y - top and bottom, right and left
 * 0, s, m, l - zero, small, medium, large
 */
$margin-value: (
  '0': 0,
  's': $spacing-outer--small,
  'm': $spacing-outer,
  'l': $spacing-outer--large,
) !default;

@each $name, $value in $margin-value {
  @include responsive(".u-ma#{$name}") {
    margin: $value !important;
  }
  @include responsive(".u-mt#{$name}") {
    margin-top: $value !important;
  }
  @include responsive(".u-mr#{$name}") {
    margin-right: $value !important;
  }
  @include responsive(".u-mb#{$name}") {
    margin-bottom: $value !important;
  }
  @include responsive(".u-ml#{$name}") {
    margin-left: $value !important;
  }
  @include responsive(".u-my#{$name}") {
    margin-top: $value !important;
    margin-bottom: $value !important;
  }
  @include responsive(".u-mx#{$name}") {
    margin-right: $value !important;
    margin-left: $value !important;
  }
}