/* -----------------------------------------------------------------------------
   #Padding
   -------------------------------------------------------------------------- */
/**
 * p - padding
 * a - all
 * t, r, b, l - top, right, bottom, left
 * x, y - top and bottom, right and left
 * 0, s, m, l - zero, small, medium, large
 */
$padding-value: (
  '0': 0,
  's': $spacing-inner--small,
  'm': $spacing-inner,
  'l': $spacing-inner--large,
) !default;

@each $name, $value in $padding-value {
  @include responsive(".u-pa#{$name}") {
    padding: $value !important;
  }
  @include responsive(".u-pt#{$name}") {
    padding-top: $value !important;
  }
  @include responsive(".u-pr#{$name}") {
    padding-right: $value !important;
  }
  @include responsive(".u-pb#{$name}") {
    padding-bottom: $value !important;
  }
  @include responsive(".u-pl#{$name}") {
    padding-left: $value !important;
  }
  @include responsive(".u-py#{$name}") {
    padding-top: $value !important;
    padding-bottom: $value !important;
  }
  @include responsive(".u-px#{$name}") {
    padding-right: $value !important;
    padding-left: $value !important;
  }
}