/* -----------------------------------------------------------------------------
   #Pull
   -------------------------------------------------------------------------- */
/**
 * レスポンシブに対応した`right`プロパティを指定するヘルパークラスです。
 * https://github.com/csswizardry/frcss/blob/master/_trumps.widths.scss
 */

// このようにコンパイルされます。
// .u-pull-11of12 { right: 91.66667% !important; }
// .u-pull-12of12 { right: 100% !important; }
// @media screen and (min-width: 400px) {
//     .u-pull-1of12-sm { right: 8.33333% !important; }
//     .u-pull-2of12-sm { right: 16.66667% !important; }


[class*="u-pull"] {
  position: relative;
}

// 取得したいカラム数をリスト形式で指定します。
// 例えば`1 2`を指定すると1/1, 1/2, 2/2の`pull`を取得できます。
$pull-cols: 12 !default;

// @param $cols - `$pull-cols`から取得したいカラム数を取得します。
// @param $breakpoint(null) - メディアクエリ用のキーワードを渡します。
// @requires $pull-cols - 取得したいカラム数をリスト形式で指定します。
@mixin pull($cols, $breakpoint: null) {
  @each $col in $cols {
    @for $i from 1 through $col {
      .u-pull-#{$i}of#{$col}#{$breakpoint} {
        right: percentage($i / $col) !important;
      }
    }
  }
}

// ブレイクポイントのないclassを生成します。
// @requires - $pull-cols
@include pull($pull-cols);

// ブレイクポイント付きのclassを生成します。
// @requires - $breakpoints
@each $name, $breakpoint in $breakpoints {
  @media #{$breakpoint} {
    @include pull($pull-cols, -#{$name})
  }
}