/* -----------------------------------------------------------------------------
   #Central
   -------------------------------------------------------------------------- */
/**
 * 上下左右の中央配置にするオブジェクトです。
 *
 * <div class="o-central [o-central--full]">
 *   <div class="o-central__item">
 *      [content]
 *   </div>
 * </div>
 */
.o-central {
  position: relative;
  margin: 0;
  padding: 0;
}

.o-central__item {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
}

.o-central--full {
  width: 100%;
  height: 100%;
}