/* -----------------------------------------------------------------------------
   #Grid
   -------------------------------------------------------------------------- */
/**
 * グリッドレイアウトオブジェクトです。
 * `width`の変更はtrumpレイヤーで指定してください。
 *
 * <div class="o-wrapper">
 *   <div class="o-grid o-grid--medium">
 *     <div class="o-grid__item u-8of12-md"></div>
 *     <div class="o-grid__item u-4of12-md"></div>
 *   </div>
 * </div>
 */
$grid-gutter: $spacing-inner--large !default;
$grid-gutter-small: ($grid-gutter / 2) !default;
$grid-gutter-large: ($grid-gutter * 2) !default;

.o-grid {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style-type: none;
}

.o-grid__item {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  vertical-align: top;
}

/**
 * ガターを3つのパリエーションから選択します。
 */
.o-grid--small {
  margin-left: -$grid-gutter-small;
  > .o-grid__item {
    padding-left: $grid-gutter-small;
  }
}

.o-grid--medium {
  margin-left: -$grid-gutter;
  > .o-grid__item {
    padding-left: $grid-gutter;
  }
}

.o-grid--large {
  margin-left: -$grid-gutter-large;
  > .o-grid__item {
    padding-left: $grid-gutter-large;
  }
}

/**
 * 垂直位置を2つのパリエーションから選択します。
 */
.o-grid--middle {
  > .o-grid__item {
    vertical-align: middle;
  }
}

.o-grid--bottom {
  > .o-grid__item {
    vertical-align: bottom;
  }
}

/**
 * 要素を中央配置か右端寄せに指定します。
 */
.o-grid--center {
  text-align: center;
  > .o-grid__item {
    text-align: left;
  }
}

.o-grid--right {
  text-align: right;
  > .o-grid__item {
    text-align: left;
  }
}

/**
 * 要素の右側にフロートさせます。
 */
.o-grid--rev {
  text-align: left;
  direction: rtl;
  > .o-grid__item {
    text-align: left;
    direction: ltr;
  }
}