/* -----------------------------------------------------------------------------
   #Inline
   -------------------------------------------------------------------------- */
/**
 * インライン（横並び）にさせるオブジェクトです。
 *
 * <ul class="o-inline [o-inline--small]">
 *   <li class="o-inline__item">
 *     <a href="" class="o-inline__link"></a>
 *   </li>
 *   <li class="o-inline__item">
 *     <a href="" class="o-inline__link"></a>
 *   </li>
 * </ul>
 */
$inline-space: $spacing-inner--small !default;
$inline-space-small: ($inline-space / 2) !default;
$inline-space-large: ($inline-space * 2) !default;

.o-inline {
  @include cf;
  margin: 0 0 0 (-$inline-space);
  padding: 0;
  list-style-type: none;
}

.o-inline__item {
  float: left;
  padding-left: $inline-space;
}

.o-inline__link {
  display: inline-block;
}

.o-inline--small {
  margin-left: (-$inline-space-small);
  > .o-inline__item {
    padding-left: $inline-space-small;
  }
}

.o-inline--large {
  margin-left: (-$inline-space-large);
  > .o-inline__item {
    padding-left: $inline-space-large;
  }
}