/* -----------------------------------------------------------------------------
   #Justify
   -------------------------------------------------------------------------- */
/**
 * 要素を両端揃えにするオブジェクトです。
 * 要素の合計が親要素の幅の合計に満たない場合は要素間に均等な余白を作り、
 * 要素の合計が幅の合計を超えた場合はカラム落ちします。
 * https://github.com/hiloki/kitecss
 *
 * <div class="o-justify">
 *   <div class="o-justify__item"></div>
 *   <div class="o-justify__item"></div>
 * </div>
 */
.o-justify {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: justify;
  text-justify: distribute-all-lines;
  &:after {
    content: "";
    display: inline-block;
    width: 100%;
  }
}

.o-justify__item {
  display: inline-block;
  margin: 0;
  font-size: 1rem;
  text-align: left;
}