/* -----------------------------------------------------------------------------
   #Pack
   -------------------------------------------------------------------------- */
/**
 * 横幅いっぱいで均等、中央揃えのオブジェクトです。
 * リンクがない場合でも余白が変わりません。
 *
 * <ul class="o-pack [o-pack--small]">
 *   <li class="o-pack__item">
 *     <a href="#" class="o-pack__link"></a>
 *   </li>
 *   <li class="o-pack__item">
 *     <a href="#" class="o-pack__link"></a>
 *   </li>
 * </ul>
 */
$pack-space-y: $spacing-inner !default;
$pack-space-x: $spacing-inner--small !default;
$pack-space-y-small: ($pack-space-y / 2) !default;
$pack-space-x-small: $pack-space-x !default;
$pack-space-y-large: ($pack-space-y * 2) !default;
$pack-space-x-large: $pack-space-x !default;

.o-pack {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  text-align: center;
}

.o-pack__item {
  display: table-cell;
  padding: $pack-space-y $pack-space-x;
  line-height: 1;
}

.o-pack__link {
  display: block;
  margin: (-$pack-space-y) (-$pack-space-x);
  padding: $pack-space-y $pack-space-x;
  text-decoration: none;
}

.o-pack--small {
  > .o-pack__item {
    padding: $pack-space-y-small $pack-space-x-small;
  }
  .o-pack__link {
    margin: (-$pack-space-y-small) (-$pack-space-x-small);
    padding: $pack-space-y-small $pack-space-x-small;
  }
}

.o-pack--large {
  > .o-pack__item {
    padding: $pack-space-y-large $pack-space-x-large;
  }
  .o-pack__link {
    margin: (-$pack-space-y-large) (-$pack-space-x-large);
    padding: $pack-space-y-large $pack-space-x-large;
  }
}