/* -----------------------------------------------------------------------------
   #Rank
   -------------------------------------------------------------------------- */
/**
 * 横並び（rank）にするオブジェクトです。
 * リンクがない場合でも余白が変わりません。
 *
 * <ul class="o-rank [o-rank--small]">
 *   <li class="o-rank__item">
 *     <a href="#" class="o-rank__link"></a>
 *   </li>
 *   <li class="o-rank__item">
 *     <a href="#" class="o-rank__link"></a>
 *   </li>
 * </ul>
 */
$rank-space-y: $spacing-inner--small !default;
$rank-space-x: $spacing-inner !default;
$rank-space-y-small: ($rank-space-y / 2) !default;
$rank-space-x-small: ($rank-space-x / 2) !default;
$rank-space-y-large: ($rank-space-y * 2) !default;
$rank-space-x-large: ($rank-space-x * 2) !default;

.o-rank {
    @include cf;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.o-rank__item {
    float: left;
    padding: $rank-space-y $rank-space-x;
}

.o-rank__link {
    display: inline-block;
    margin: (-$rank-space-y) (-$rank-space-x);
    padding: $rank-space-y $rank-space-x;
}

.o-rank--small {
    > .o-rank__item {
        padding: 0 $rank-space-x-small;
    }
    .o-rank__link {
        margin: 0 (-$rank-space-x-small);
        padding: 0 ($rank-space-x-small);
    }
}

.o-rank--large {
    > .o-rank__item {
        padding: $rank-space-y-large $rank-space-x-large;
    }
    .o-rank__link {
        margin: (-$rank-space-y-large) (-$rank-space-x-large);
        padding: $rank-space-y-large $rank-space-x-large;
    }
}