/* -----------------------------------------------------------------------------
   #Stack
   -------------------------------------------------------------------------- */
/**
 * 縦に積み重なる（stack up）オブジェクトです。
 * リンクがない場合でも余白が変わりません。
 *
 * <ul class="o-stack [o-stack--small]">
 *   <li class="o-stack__item">
 *     <a href="#" class="o-stack__link">
 *     </a>
 *   </li>
 *   <li class="o-stack__item">
 *   </li>
 * </ul>
 */
$stack-space-y: $spacing-inner !default;
$stack-space-x: 0 !default;
$stack-space-y-small: ($stack-space-y / 2) !default;
$stack-space-x-small: $stack-space-x !default;
$stack-space-y-large: ($stack-space-y * 2) !default;
$stack-space-x-large: $stack-space-x !default;

.o-stack {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.o-stack__item {
  padding: $stack-space-y $stack-space-x;
}

.o-stack__link {
  display: block;
  margin: (-$stack-space-y) (-$stack-space-x);
  padding: $stack-space-y $stack-space-x;
}

.o-stack--center {
  text-align: center;
}

.o-stack--right {
  text-align: right;
}

.o-stack--small {
  > .o-stack__item {
    padding: $stack-space-y-small $stack-space-x-small;
  }
  .o-stack__link {
    margin: (-$stack-space-y-small)  (-$stack-space-x-small);
    padding: $stack-space-y-small $stack-space-x-small;
  }
}

.o-stack--large {
  > .o-stack__item {
    padding: $stack-space-y-large $stack-space-x-large;
  }
  .o-stack__link {
    margin: (-$stack-space-y-large)  (-$stack-space-x-large);
    padding: $stack-space-y-large $stack-space-x-large;
  }
}