// -----------------------------------------------------------------------------
// #Color
// -----------------------------------------------------------------------------

//
// プロジェクトで繰り返し使用される色を変数として定義します。
//

// ベース
$color-text: #333 !default;
$color-bg: #fff !default;

// アンカータグ
$color-link: #2b70ba !default;
$color-link--visited: null !default;
$color-link--hover: lighten($color-link, 15%) !default;

// コンポーネントのベースカラー
$color-ui-border: #666 !default;
$color-ui-bg: #fff !default;